/* ! @import url(https://fonts.googleapis.com/css?family=Rubik:400,500,700,800&display=swap); */
/* ------------------------------------------Обнуление------------------------------------- */

/* -------------------------------Языки------------------------------------------ */
@import url(https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,800,900&display=swap);
/* -------------------------------Языки------------------------------------------ */

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	min-width: 320px;
	position: relative;
	font-size: 100%;
	/* font-family: rubik; */
}

body {
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	/* min-height: 100%; */
	/* font-family: rubik; */
	color: black;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
	/* color: #000; */
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/* ------------------------------------------Обнуление------------------------------------- */

body {
	font-family: Rubik;
	font-size: 12px;
	color: black;
	background-color: #fafbfd;
}
.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

[class*="__container"] {
	width: 1087px;
	margin: 0 auto;
	width: 100%;
}

/* ----------------------------------------HEADER--------------------------------- */

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 80;
	/* background-color: #fafbfd; */
	/* position: relative; */
}
.header__container {
	position: relative;
	width: 100%;
	left: 0px;
	top: 0px;
	padding: 0px 15px;
	display: flex;
	align-items: center;
	min-height: 116px;
}
.header__logo {
}
.header__menu {
	display: flex;
	justify-content: right;
}
.menu {
	flex: 1 1 auto;
}
.menu__list {
	display: flex;
}
.menu__item {
	padding: 0px 45px 0px 0px;
	font-family: Raleway;
	font-weight: 700;
	font-size: 10px;
	line-height: 12px;
	/* color: black; */
}
.menu__link {
	/* color: black; */
}
.header__button {
	display: flex;
	flex: 0 1 252px;
	justify-content: flex-end;
}
.button {
	color: #fcfdfe;
	display: inline-block;
	font-family: Raleway;
	font-size: 10px;
	font-weight: 800;
	line-height: 1.2;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 14px 30px;
	background-color: #ec5863;
	border-radius: 5px;
}
.button__blue {
	background-color: #4285f4;
}
/* ----------------------------------------HEADER--------------------------------- */

/* -------------------------------------------MAIN------------------------------------ */
.get-started {
}
.get-started__container {
	display: flex;
	flex-direction: column;
	padding: 153px 10px 153px 15px;
	height: 700px;
	justify-content: center;
	position: relative;
}
.get-started__container::before {
	content: "";
	position: absolute;
	width: 100vw;
	height: 100%;
	top: 0;
	right: 253px;
	/* margin: 0px 0px 0px -252px; */
	transform: translate(100%, 0px);
	background: #ec5863;
	border-radius: 30px 0px 0px 30px;
}

.get-started__top {
	display: flex;
	/* flex: 1 1 auto; */
	align-items: center;
}
.get-started__block-text {
	flex: 1 1 auto;
	max-width: 450px;
	/* margin: 200px 0px 200px 12px; */
}
.block-text {
	/* width: 400px; */
}
.block-text__title {
	font-weight: 700;
	font-size: 44px;
	line-height: 126%;
}
.block-text__title:not(:last-child) {
	margin: 0px 0px 12px 0px;
}
.block-text__title span {
	color: #ec5863;
}
.block-text__title-blue span {
	color: #4285f4;
}

.block-text__text {
	font-weight: 400;
	font-size: 12px;
	line-height: 138.5%;
	letter-spacing: 0.08em;
}
.block-text__text:not(:last-child) {
	margin: 0px 0px 24px 0px;
}
.button {
}
.get-started__img {
	flex: 1 1 auto;
	display: flex;
	justify-content: end;
	position: relative;
	z-index: 10;
}

.get-started__img img {
	/* width: 100%; */
	/* max-height: 395px; */
	justify-content: center;
}
.get-started__bot {
	position: relative;
	top: 60px;
}
.get-started__video {
	display: flex;
	align-items: center;
}
.video-get-started {
	/* flex: 1 1 100%; */
}
.video-get-started-icon {
}
.video-get-started__body {
	padding: 0px 0px 0px 12px;
}
.video-get-started__title {
	font-size: 13px;
	line-height: 126%;
	letter-spacing: 0.08em;
	color: #b0b0b0;
}
.video-get-started__text {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	font-size: 9px;
	line-height: 126%;
	letter-spacing: 0.165em;
	text-transform: uppercase;
}
/* -------------------------------------------MAIN------------------------------------ */

.gocorona {
	background-color: #ffffff;
}
.gocorona__container {
	display: flex;
	/* text-align: center; */
	justify-content: center;
	align-items: center;
}
.gorona__body {
	display: flex;
}
.gocorona__image {
	flex: 1 1 50%;
	margin: 80px 0px 80px 48px;
	position: absolute;
	width: 206px;
	height: 27px;
	left: 0px;
	bot: 0px;

	background: rgba(240, 240, 240, 0.49);
	border-radius: 16px;
}
.gocorona__image img {
}
.gocorona__block-text {
	flex: 1 1 50%;
}

/* -------------------------------------------FOOTER------------------------------------ */
footer {
	flex: 0 1 auto;
}

/* -------------------------------------------FOOTER------------------------------------ */
