/* ! @import url(https://fonts.googleapis.com/css?family=Rubik:400,500,700,800&display=swap); */
/* ------------------------------------------Обнуление------------------------------------- */

/* -------------------------------Языки------------------------------------------ */
@import url(https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,800,900&display=swap);
/* -------------------------------Языки------------------------------------------ */

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	min-width: 320px;
	position: relative;
	font-size: 100%;
	/* font-family: rubik; */
}

body {
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	/* font-family: rubik; */
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
	/* color: #000; */
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/* ------------------------------------------Обнуление------------------------------------- */

body {
	font-family: Rubik;
}
.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

[class*="__container"] {
	max-width: 1087px;
	margin: 0 auto;
	width: 100%;
}

/* ----------------------------------------HEADER--------------------------------- */

.header {
	/* position: fixed; */
	top: 0;
	left: 0;
	z-index: 50;
	/* position: relative; */
}
.header__container {
	/* position: fixed; */
	width: 100%;
	left: 0px;
	top: 0px;
	padding: 0px 15px;
	display: flex;
	align-items: center;
	min-height: 116px;
}
.header__logo {
}
.header__menu {
	display: flex;
	justify-content: right;
}
.menu {
	flex: 1 1 auto;
}
.menu__list {
	display: flex;
}
.menu__item {
	padding: 0px 45px 0px 0px;
	font-family: Raleway;
	font-weight: 700;
	font-size: 10px;
	line-height: 12px;
	/* color: black; */
}
.menu__link {
	/* color: black; */
}
.header__button {
	display: flex;
	flex: 0 1 252px;
	justify-content: flex-end;
}
.button {
	color: #fcfdfe;
	display: inline-block;
	font-family: Raleway;
	font-size: 10px;
	font-weight: 800;
	line-height: 1.2;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 14px 30px;
	background-color: #ec5863;
	border-radius: 5px;
}
.button__blue {
	background-color: #4285f4;
}
/* ----------------------------------------HEADER--------------------------------- */

/* -------------------------------------------MAIN------------------------------------ */

/* -------------------------------------------MAIN------------------------------------ */

/* -------------------------------------------FOOTER------------------------------------ */
footer {
	flex: 0 1 auto;
}

/* -------------------------------------------FOOTER------------------------------------ */
